/* Body Styles */
body {
  background-image: url("library.jpg");
  font-family: "Iowan Old Style", sans-serif;
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* For Firefox and Chrome */
:root {
  color-scheme: dark;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  background-color: rgba(13, 13, 13, 0.8);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  max-width: 1100px;
}

h3 {
  text-align: center;
  font-size: 1.05rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  background-color: rgba(13, 13, 13, 0.8);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  max-width: 1100px;
}

/* Form Styles */
[type="submit"] {
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  margin-top: 1rem;
  background-color: #8b0000; 
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
}

[type="submit"]:hover {
  background: #b22222; 
  color: white;
}

/* [type="file"] {
  font-size: 12pt;
  font-weight: bold;
  color: #0000ff;
  margin-top: 5px;
} */

/* Table Styles */
td.label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

table td.label + td {
  padding-left: 1rem;
  font-size: 1.2rem;
}

/* Article Styles */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper article {
  width: 300px;
  margin: 1rem;
  line-height: 1.5;
  font-weight: lighter;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(13, 13, 13, 0.8);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper article:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 255, 255, 0.8);
  transform: translateY(-5px);
}

.wrapper article p:first-of-type {
  font-weight: bold;
  font-size: 1.05rem; /* this is important */
  margin-bottom: 0.5rem;
  flex-grow: 1;
  word-break: break-word;
}

.wrapper article img {
  max-width: 70%;
  margin: 0 auto 1rem;
  display: block;
  border-radius: 5px;
}

.book-actions {
  border: 1px solid #373636;
  padding: 10px;
}


/* Book Records Box */
.book-records {
  background-color: rgba(13, 13, 13, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 1100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
  align-items: center; /* Add this line */
}

.book-records:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Box Style */
.box {
  background-color: rgba(13, 13, 13, 0.8);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  max-width: 1100px; /* this is important */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


/* Utility Classes */
.clear {
  clear: both !important;
}

.box a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #f0f0f0;
  transition: color 0.3s ease;
}

.box a:hover {
  color: #8b0000;
}

.box em {
  color: #8b0000;
}

/* Update Author Form Styles */
.update-author-form {
  text-align: center;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.update-author-form legend {
  margin-bottom: 1.5rem; /* Add some space below the legend */
}

.update-author-form label {
  display: block; /* Display labels on a new line */
  margin-bottom: 0.5rem; /* Add some space between labels and inputs */
}

.update-author-form input {
  margin-bottom: 1rem; /* Add some space between inputs */
}

.update-author-form input[type="submit"] {
  margin-top: 0.5rem; /* Add some space above the submit button */
}
